[program:geth]
command=bash -c '{{ geth_executable }} --datadir {{ geth_directory }} --ipcpath=/tmp/geth.ipc --syncmode "full" --rpc --rpcaddr 0.0.0.0 --port 30303 --rpcport 8545 --rpcapi debug,net,eth,shh,web3,txpool --wsapi "eth,net,web3,network,debug,txpool" --ws --wsaddr 0.0.0.0 --wsport 8546 --wsorigins "*" --gcmode=archive'
autostart=true
autorestart=true
stderr_logfile=/var/log/supervisor/geth.err.log
stdout_logout=/var/log/supervisor/geth.out.log
user={{ geth_user }}
